{% extends "layout.html" %}

{% block title %}Contact Kylling{% endblock %}

{% block main %}


<h1 style="font-weight: bold">Contact</h1>


<!--SELECTION OF IMAGES-->



<div class="container-fluid">
        <div class="row justify-content-center">

                <form action="/contact" class="responsive needs-validation col-lg-8 col-md-10" method="POST" novalidate>


                        <div class="form-group">
                                <label for="inputEmail">e-mail:</label>
                                <input required type="email" id="inputEmail" name="email" class="form-control">
                                <div class="invalid-feedback">You must provide your e-mail</div>
                        </div>
                        <div class="form-group">
                                <label for="inputSubject">Subject:</label>
                                <input required type="text" id="inputSubject" name="subject" class="form-control" autofocus
                                        onfocus="this.select()">
                                <div class="invalid-feedback">You must provide a subject</div>
                        </div>
                        <div class="form-group">
                                <label for="inputMessage">Your message:</label>
                                <textarea required type="text" id="inputMessage" name="message"
                                        class="form-control"></textarea>
                                <div class="invalid-feedback">You must write a message</div>
                        </div>

                        <button id="contactSubmitBtn" class="btn btn-primary" type="submit">Submit</button>



                </form>
                <img src="/static/src/photos/poisontoadstool.jpg" alt="A photo of Kylling smiling"
                        style="border: 3px solid green; margin-bottom: 80px; max-width: 100%; margin-top: 100px;">
        </div>





</div>

<script>

        /* nice looking client side validation */
        var form = document.querySelector('.needs-validation')
        form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                }
                form.classList.add('was-validated');
        })

</script>



{% endblock %}