{% extends "layout.html" %}

{% block title %}Kylling's prices{% endblock %}

{% block main %}
                <section class="col-10 col-sm-8 col-md-6">

                    <h1><b>{{ text["subtitles.pricing"] }}</b></h1>


                    <table id="pricingtable">
                        <tr>
                            <td style="width:100%;"><b>{{ text["pricing.service"] }}</b></td>
                            <td style="width:0%;"><b>{{ text["pricing.price"] }}</b></td>


                        </tr>
                        <tr>
                                <td>{{ text["services.title.biting"] }}</td>
                                <td>900</td>
                        </tr>
                        <tr>
                                <td>{{ text["services.title.barking"] }}</td>
                                <td>900</td>
                        </tr>
                        <tr>
                                <td>{{ text["services.title.digging"] }}</td>
                                <td>900</td>
                        </tr>
                        <tr>
                                <td>{{ text["services.title.pulling"] }}</td>
                                <td>900</td>
                        </tr>
                        <tr>
                                <td>Extermination</td>
                                <td>900</td>
                        </tr>
                        <tr>
                                <td>{{ text["services.title.chilling"] }}</td>
                                <td>900</td>
                        </tr>
                        <tr>
                                <td>{{ text["services.title.biting"] }}</td>
                                <td>900</td>
                        </tr>
                        <tr>
                                <td>{{ text["services.title.biting"] }}</td>
                                <td>900</td>
                        </tr>

                    </table>

                </section>

        </div>


{% endblock %}