{% extends "layout.html" %}

{% block title %}Kylling's prices{% endblock %}

{% block main %}
                <section class="col-10 col-sm-8 col-md-6">

                    <h1><b>Pricing</b></h1>


                    <table id="pricingtable">
                        <tr>
                            <td style="width:100%;"><b>Service</b></td>
                            <td style="width:0%;"><b>Price</b></td>


                        </tr>
                        <tr>
                                <td>Biting</td>
                                <td>900</td>
                        </tr>
                        <tr>
                                <td>Barking</td>
                                <td>900</td>
                        </tr>
                        <tr>
                                <td>Digging</td>
                                <td>900</td>
                        </tr>
                        <tr>
                                <td>Pulling</td>
                                <td>900</td>
                        </tr>
                        <tr>
                                <td>Extermination</td>
                                <td>900</td>
                        </tr>
                        <tr>
                                <td>Chilling out</td>
                                <td>900</td>
                        </tr>
                        <tr>
                                <td>Biting</td>
                                <td>900</td>
                        </tr>
                        <tr>
                                <td>Biting</td>
                                <td>900</td>
                        </tr>

                    </table>

                </section>

        </div>


{% endblock %}