{% extends "layout.html" %}

{% block title %}{{ text["subtitles.services"] }}{% endblock %}

{% block main %}



<div class="servicedescription">


    <h1 style="font-weight: bold">{{ text["subtitles.services"] }}</h1>

    <p>
        {{ text["services.introduction"] }}
    </p>


</div>

<!--SELECTION OF IMAGES-->
<div id="allcatalogues">


    <div class="catalogue">

        <!--Barking-->
        <div class="service">
            <a href="barking"><img src="/static/src/photos/kylbark2.jpg" class="img-fluid" alt="Responsive image"
                    id="serviceimg"></a>
            <div class="top-left"><b>{{ text["services.title.barking"] }}</b></div>
            <div class="bottom-left">{{ text["services.brief.barking"] }}</div>
        </div>

        <!--Digging-->
        <div class="service">
            <a href="digging"><img src="/static/src/photos/kyldig.jpg" class="img-fluid" alt="Kylling digging"
                    id="serviceimg"></a>
            <div class="top-left"><b>{{ text["services.title.digging"] }}</b></div>
            <div class="bottom-left">{{ text["services.brief.digging"] }}</div>
        </div>

        <!--Ball reminders-->
        <div class="service">
            <a href="ballreminders"><img src="/static/src/photos/ballremind.jpg" class="img-fluid"
                    alt="Extermination image" id="serviceimg"></a>
            <div class="top-left"><b>{{ text["services.title.ballreminders"] }}</b></div>
            <div class="bottom-left">{{ text["services.brief.ballreminders"] }}</div>
        </div>

    </div>

    <div class="catalogue">





        <!--Pulling-->
        <div class="service">
            <a href="pulling"><img src="/static/src/photos/kylpull.jpg" class="img-fluid" alt="Responsive image"
                    id="serviceimg"></a>
            <div class="top-left"><b>{{ text["services.title.pulling"] }}</b></div>
            <div class="bottom-left">{{ text["services.brief.pulling"] }}</div>
        </div>

        <!--Biting-->
        <div class="service">
            <a href="biting"><img src="/static/src/photos/Kylbite.JPG" class="img-fluid" alt="Responsive image"
                    id="serviceimg"></a>
            <div class="top-left"><b>{{ text["services.title.biting"] }}</b></div>
            <div class="bottom-left">{{ text["services.brief.biting"] }}</div>
        </div>

        <!--Chilling-->
        <div class="service">
            <a href="chilling"><img src="/static/src/photos/Kylling.jpg" class="img-fluid" alt="Responsive image"
                    id="serviceimg"></a>
            <div class="top-left"><b>{{ text["services.title.chilling"] }}</b></div>
            <div class="bottom-left">{{ text["services.brief.chilling"] }}</div>
        </div>

    </div>

</div>



{% endblock %}