{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block main %}


<!--DESCRIPTION OF SPECIFIC SERVICE-->
<div id="allcatalogues" class="container-fluid">

    <div class="container servicedescription">


        <div class="row">
            <h1 style="font-weight: bold">{{ title }}</h1>
        </div>
        <div class="row">
            <p>
                {{ serviceText }}
            </p>
        </div>
        <div class="row justify-content-center">
            <img src="/static/src/photos/{{image}}" alt="A picture of Kylling doing something" class="responsive"
                style="margin-top: 30px;">
        </div>

    </div>

</div>

</div>


{% endblock %}