{% extends "services/servicelayout.html" %}

{% block title %}Ball reminders{% endblock %}

{% block service %}

                <div class="servicedescription">
                <h1 style="font-weight: bold">Daily ball reminders</h1>

                <p>
                Oops! I seem to have dropped something on your laptop. We'd better remove it, right? (and throw it as far away as possible)
                </p>
                <p>
                Humans, like the rest of us, occasionally need help sorting out their priorities. I can help with that. More time for the important things in life, remember?
                </p>

                <img src="/static/src/photos/ballremind2.jpg" alt="A picture of Kylling doing something" class="responsive" style="margin-top: 30px;">

{% endblock %}