{% extends "services/servicelayout.html" %}

{% block title %}Barking{% endblock %}

{% block service %}

                <div class="servicedescription">
                    <h1 style="font-weight: bold">Barking</h1>


                Enemies can oftentimes be warded off from a distance with no need to bite them. This, however, requires wit, persistence and volume – in all of which I excel. I can bark directly from my leash, from your garden fence (this works particularly well with neighbours and large vehicles) or from the comfort of your home. I can hear them coming from miles away. And they can hear me.


                <img src="/static/src/photos/kylbark.jpg" alt="A picture of Kylling doing something" class="responsive" style="margin-top: 30px;">


 {% endblock %}