{% extends "services/servicelayout.html" %}

{% block service %}

                <div class="servicedescription">
                    <h1 style="font-weight: bold">Biting</h1>



                     Cyclists – postmen – waitresses on cafés – other male dogs - often pose a significant threat to your well-being. How do you know if that’s the case? You usually don’t! But don’t worry - I can tell. No more barging into your personal space. No more hello-saying. I start by barking and growling. In this way I also prevent them from trying to negotiate.  If the keep approaching I bite. You will not be bothered by uninvited (or invited) guests ever again.


                <img src="/static/src/photos/Kylbite.JPG" alt="A picture of Kylling doing something" class="responsive" style="margin-top: 30px;">


{% endblock %}