{% extends "services/servicelayout.html" %}

{% block service %}

                <div class="servicedescription">
                    <h1 style="font-weight: bold">Digging</h1>


                    Critters often live in holes. I help you dig them out. As a bonus service I decorate your furniture with fresh dirt straight from the wilderness.

                    <img src="/static/src/photos/kyldiglarge.jpg" alt="A picture of Kylling doing something" class="responsive" style="margin-top: 30px;">



 {% endblock %}