{% extends "services/servicelayout.html" %}

{% block title %}Pulling{% endblock %}

{% block service %}

                <div class="servicedescription">
                    <h1 style="font-weight: bold">Pulling</h1>


                Who doesn’t want a helping hand (or four helping legs) for pushing forward more quickly? Combine with skateboard at your own risk.


                <img src="/static/src/photos/kylpulllarge.jpg" alt="A picture of Kylling doing something" class="responsive" style="margin-top: 30px;">

{% endblock %}