{% extends "layout.html" %}


{% block main %}


<!--DESCRIPTION OF SPECIFIC SERVICE-->
<div id="allcatalogues" class="container-fluid">

    <div class="container servicedescription">
        <div class="row">
            {% block service %}{% endblock %}
        </div>
            
            
        <div class="row justify-content-center">
            <img src="/static/src/photos/{{image}}" alt="A picture of Kylling doing something" class="responsive"
                style="margin-top: 30px;">
        </div>

    </div>

</div>

</div>


{% endblock %}
