{% extends "layout.html" %}

{% block main %}


                    <h1 style="font-weight: bold">Contact</h1>


                    <!--SELECTION OF IMAGES-->
                    <div id="allcatalogues">


                        <!-- <form action="action_page.php" method="post">
                        I tried making a php page with code to send me an e-mail, but it doesn't work-->
                        <form style="min-width: 300px;" class="responsive">


                                Name: <br>
                                <input class="linefield" type="text" placeholder="Erizabethu" name="name"><br>
                                e-mail: <br>
                                <input class="linefield" type="text" placeholder="my@e-mail.com" name="email"><br>
                                Subject: <br>
                                <input class="linefield" type="text" placeholder="Subject" name="subject"><br>
                                Message: <br>
                                <textarea id="boxfield" placeholder="Your message" name="message"></textarea><br>
                                <button type="submit" name="submit" onclick="formAlert()">Send</button>






                        </form>
                    </div>


                    <img src="/static/src/photos/poisontoadstool.jpg" alt="A photo of Kylling smiling" style="border: 3px solid green; margin-bottom: 80px; max-width: 100%; margin-top: 100px;">


        </div>



{% endblock %}